<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false" 
xmlns="http://logback.qos.sh/logback"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"></timestamp>
	
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- <pattern>%date{yyyy-dd-MM HH:mm:ss.SSS} [%t] %-2le %class{256}.%M - %msg %n</pattern> -->
			<pattern>%contextName %date{HH:mm:ss.SSS} [%t] %-2le %class{256}.%M - %msg %n</pattern>
		</layout>
	</appender>
	
	<!-- 设置哪些包 用那些日志策略 -->
	<logger name="cn.xiuyu" level="INFO">
		<appender-ref ref="STDOUT"/>
	</logger>
</configuration>